@import url("normalize.css");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --amarillo-mercado-libre: #eac926;
  --azul: #03264c;
  --celeste: #1259c3;
  --gris: #666;
  --gris-claro: #ebebeb;
  --verde: #39b54a;
}

:root {
  --cuerpos-texto: 12px;
  --titulares: 24px;
  --precios: 18px;
  --descuentos: 16px;
  --descripciones: 16;
}

/*para usar estas variables las llamamos asi var(--nombredelavariable);*/

body {
  font-family: "roboto", sans-serif;
  margin: 0;
  width: 100vw;
  background-color: rgb(212, 212, 212);
}

/*aqui empieza el header*/

header {
  text-align: left;
  background-color: var(--amarillo-mercado-libre);
  padding: 40px 0 10 0;
}

.imagen-banner-header {
  display: block;
}

header nav {
  text-align: left;
}

#búsqueda {
  text-align: center;
}

#búsqueda1 {
  text-align: center;
  font-size: var(--cuerpos-texto);
}

.burger-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.fa-bars {
  color: white;
  background-color: blue;
  padding: 7px;
  border-radius: 20%;
}

.links {
  font-size: var(--cuerpos-texto);
  display: none;
}

.mas-links {
  font-size: var(--cuerpos-texto);
  display: none;
}

/*aqui empieza el main*/

main {
  justify-content: center;
  margin: auto;
  width: 90vw;
}

h4 {
  font-size: 24px;
}

p {
  font-size: 12px;
}

.productos {
  display: flex;
  justify-content: center;
}

.producto {
  border-top: 1px solid #ebebeb;
  padding: 10px;
  background-color: white;
}

.imagen-producto {
  display: block;
}

.nombre-producto {
  display: none;
}

.truck-fast {
  color: var(--verde);
}

.precio {
  font-size: 18px;
}

.descuento {
  color: var(--verde);
  font-size: 16px;
}

img {
  width: 100%;
  height: auto;
}

.articulo-sin-foto {
  border-top: solid #ebebeb;
}

/*aqui empieza el footer*/

footer {
  text-align: center;
}

.items-footer{
  display: flex;
}

.tarjeta-credito {
  color: #1259c3;
  font-size: 2em;
  margin-bottom: 10px;
}

.envio-gratis {
  color: #1259c3;
  font-size: 2em;
  margin-bottom: 10px;
}

.seguridad {
  font-size: 2em;
  color: #1259c3;
  margin-bottom: 10px;
}

/*aqui empiezan los media queri*/

@media screen and (min-width: 361px) {
  .nombre-producto {
    display: initial;
  }
  .links{
    display: initial;      
  }

  .mas-links{
    display: initial;
  }

  .burger-menu{
    display: none;
  }
}

@media screen and (min-width: 769px) {
    .burger-menu{
        display: none;
    }

}
  


/*aqui pruebo el mensaje del span*/

.error_message{
  display: none;
}

input[name="Nombre"]:invalid + span.error_message{
  display: inline;
  color: red;
}