<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-uA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <header>
        <img class="imagen-logo-header" src="/images/logo-mercado-liebre.svg" alt="logo">
        <nav>
            <p id="búsqueda">
                <input type="search" name="búsqueda" placeholder="Buscar productos, marcas...">
                <input type="Submit" value="Buscar">
            </p>
            <br>
            <p id="búsqueda1"><i class="fas fa-hand-holding-usd" id="iconos-nav"></i>comprá en cuotas y sin tarjeta de crédito
            </p>
        </nav>

        <ul class="links">
            <li>Ofertas</li>
            <li>Tiendas Oficiales</li>
            <li>Vender</li>
            <li>Ayuda</li>
        </ul>

        <br>

        <ul class="mas-links">
            <li>Creá tu cuenta<i class="fa-regular fa-id-card"></i></li>
            <li>Ingresá<i class="fa-solid fa-right-to-bracket"></i></li>
            <li>Mis compras<i class="fas fa-shopping-basket"></i></li>
        </ul>
        <br>
        <div class="burger-menu">
            <i class="fa-solid fa-bars"></i>
        </div>
        <img class="imagen-banner-header" src="/images/img-home-banner.jpg" alt="imagen-home">
    </header>

    <main>
        <section class="sección-última-visita">
            <h3>Basado en tu última visita</h3>
            <div class="productos">
                <article class="producto">
                    <img class="imagen-producto" class="imagen-producto" src="/images/img-cafetera-moulinex.jpg" alt="">
                    <div class="detalles-producto">
                        <i class="fa-solid fa-truck-fast"></i>
                        <p class="precio">$6770</p>
                        <p class="descuento">40% off</p>
                        <h4 class="nombre-producto">Cafetera Moulinex</h4>
                    </div>
                </article>

                <article class="producto">
                    <img class="imagen-producto" src="/images/img-macbook-pro-2019.jpg" alt="">
                    <div class="detalles-producto">
                        <i class="fa-solid fa-truck-fast"></i>
                        <p class="precio">$230.000</p>
                        <p class="descuento">20% off</p>
                        <h4 class="nombre-producto">Mac-book Pro 2019</h4>
                    </div>
                </article>

                <article class="producto">
                    <img class="imagen-producto" src="/images/img-samsung-galaxy-s10.jpg" alt="">
                    <div class="detalles-producto">
                        <i class="fa-solid fa-truck-fast"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                        <h4 class="nombre-producto">Samsung Galaxy S10</h4>
                    </div>

                </article>

                <article class="producto">
                    <img class="imagen-producto" src="/images/img-tv-samsung-smart.jpg" alt="">
                    <div class="detalles-producto">
                        <i class="fa-solid fa-truck-fast"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                        <h4 class="nombre-producto">Samsung Galaxy S10</h4>
                    </div>
            </div>
        </section>


        <section class="secció-ofertas">
            <h3>Sección de Ofertas</h3>
            <div class="productos">
                <article class="producto">
                    <img class="imagen-producto" src="/images/img-cafetera-moulinex.jpg" alt="">
                    <div class="detalles-producto">
                        <i class="fa-solid fa-truck-fast"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                        <h4 class="nombre-producto">Samsung Galaxy S10</h4>
                    </div>
                </article>

                <article class="producto">
                    <img class="imagen-producto" src="/images/img-macbook-pro-2019.jpg" alt="">
                    <div class="detalles-producto">
                        <i class="fa-solid fa-truck-fast"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                        <h4 class="nombre-producto">Samsung Galaxy S10</h4>
                    </div>
                </article>

                <article class="producto">
                    <img class="imagen-producto" src="/images/img-samsung-galaxy-s10.jpg" alt="">
                    <div class="detalles-producto">
                        <i class="fa-solid fa-truck-fast"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                        <h4 class="nombre-producto">Samsung Galaxy S10</h4>
                    </div>
                </article>

                <article class="producto">
                    <img class="imagen-producto" src="/images/img-tv-samsung-smart.jpg" alt="">
                    <div class="detalles-producto">
                        <i class="fa-solid fa-truck-fast"></i>
                        <p class="precio">$70.500</p>
                        <p class="descuento">10% off</p>
                        <h4 class="nombre-producto">Samsung Galaxy S10</h4>
                    </div>
                </article>
            </div>
        </section>
    </main>
    <br>
    <footer>
        <section>
            <div class="tarjeta-credito"><i class="fa-solid fa-credit-card"></i></div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
        </section>
        <br>
        <section>
            <div class="envio-gratis"><i class="fa-solid fa-gift"></i></div>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <br>
        <section>
            <div class="seguridad"><i class="fa-solid fa-user-shield"></i></div>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
            </p>
            <p>Copyright © 1999-2020 Mercado-liebre S.R.L.</p>
        </section>

    </footer>

</body>

</html>